.card {
    min-width: 80%;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

a {
    cursor: pointer;
}
.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}
