<h1 mat-dialog-title>{{data.s}}</h1>
<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nom" type="text" required [(ngModel)]="client.firstName" value="{{data.c.lastName}}" name="firstname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Prenom" type="text" required [(ngModel)]="client.lastName" name="lastname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required [(ngModel)]="client.email" name="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Societe" type="text" required [(ngModel)]="client.company" name="company">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
